<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nearbybestdeals.client" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Nearby best deals</name>
    <description>
		Nearby best deals is smart digital coupon system to get coupons from nearby dealers if they registered with us.
    </description>
    <author email="naitik@freelanceventure.in" href="http://nearbybestdeals.com">
        Nearby Best Deals team
	</author>
	
	<gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>100</string>
    </gap:config-file>
      
    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />   
    <access origin="geo:*" launch-external="yes" />   
    <access origin="http://*" launch-external="yes" />
	<access origin="https://*" launch-external="yes" />
</widget>
