<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<title>App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- critical -->
		<!-- PhoneGap, jQuery, App, jQuery.Mobile -->
		<script type="text/javascript" src="../../cordova.js"></script>        
        <script type="text/javascript" src="../../js/jquery.js"></script>        
        <script type="text/javascript" src="../../js/jquery-ui.js"></script>
        <script charset="utf-8" src="js/coupon.js"></script>
		<script charset="utf-8" src="js/index.js"></script>
		
		<script charset="utf-8" type="text/javascript" src="../../js/config.js"></script>		
				
		<!--<script charset="utf-8" type="text/javascript" src="js/IOS_notification.js"></script>-->		
		<script>
			jQuery(document).bind("mobileinit", function () {
				console.log("configuring jqm...");
		 
				// required for "phoning home" (load external assets, etc.)
				jQuery.support.cors = true;
				jQuery.mobile.allowCrossDomainPages = true;
				 
				jQuery.mobile.phonegapNavigationEnabled = true;
				jQuery.mobile.defaultDialogTransition = "pop";
				jQuery.mobile.defaultPageTransition = "none";
				 
				jQuery.mobile.loader.prototype.options.text = "loading";
				jQuery.mobile.loader.prototype.options.textVisible = true;
				jQuery.mobile.loader.prototype.options.theme = "a";
								
			});
			//alert("init coupon list");
			app.initCouponList();
			//alert("init coupon list abc");
			$(document).on("pageshow","#listdealer",function(e){ // When entering pagetwo
				$( "#popupAddDealer" ).popup({
					afteropen: function( event, ui ) {						
						$('#merchant_name2').focus();
					},
					afterclose: function( event, ui ) {
						$('#merchant_name2').val('');						
					},
				});
			});
		</script>
		</script>
		<script charset="utf-8" src="../../js/JQM.js"></script>
		<!-- critical -->
		<!-- plugins -->
		<!-- plugins-->
		<!-- themes -->
		<!-- jQuery Mobile, FontAwesome & App -->
		<link rel="stylesheet" href="../../css/jquery.mobile-1.4.5.css" />
		<link rel="stylesheet" href="../../css/font-awesome.css" />		
		<!-- /themes -->
	</head>
	<body>
		
		<div data-role="page" id="listdealer" data-title="Inbox">
			<div data-role="header">
			
				<h3 style="margin: 0 0 0.3%;">List Dealer</h3>				
			</div><!-- /header -->
			
			
			
			
			<div role="main" class="ui-content">			
				<a href="#popupAddDealer" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left ui-btn-a" data-transition="pop">Add Dealer</a>
				<div data-role="popup" id="popupAddDealer" data-overlay-theme="a" class="ui-corner-all">
				     <form>
				        <div style="padding:0px 20px;">
				            <h3>Add Dealer</h3>
				            <label for="un" class="ui-hidden-accessible">Enter dealer id:</label>
				            <input data-clear-btn="true" name="merchant_name2" id="merchant_name2" value="" type="text" data-rel="popup" placeholder="254">
							<!--<a href="#" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-plus" data-inline="true" id="varify_merchant2" style="margin-top: 21px;">Add</a>-->
				            <button type="submit" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-plus" id="varify_merchant2">Sign in</button>
				        </div>
		         	</form>
					<!--<form id="deals">
						<div class="ui-grid-a" id="add_block">
							  <div class="ui-block-a">
									<label for="text-4"><b>Enter dealer id:</b></label>
									<input data-clear-btn="true" name="merchant_name2" id="merchant_name2" value="" type="text" data-rel="popup">
							  </div>
							  <div class="ui-block-b">
									<a href="#" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-btn-inline ui-icon-plus" data-inline="true" id="varify_merchant2" style="margin-top: 21px;">Add</a>
							  </div>
						</div>
					</form>-->
				</div>
				
				<ul style="color:green;">
					<li>You will get coupon notification from following dealers.</li>					
				</ul>
				<form class="ui-filterable">
				    <input id="merchant-input" data-type="search">
				</form>
				<ul id="list2" class="touch" data-role="listview" data-icon="false" data-split-icon="delete" data-filter="true" data-input="#merchant-input">
				</ul>				
			</div><!-- /content -->
			<div id="confirm2" class="ui-content" data-role="popup" data-theme="a">
				<p id="question2">Are you sure you want to delete:</p>
				<div class="ui-grid-a">
					<div class="ui-block-a">
						<a id="yes2" class="ui-btn ui-corner-all ui-mini ui-btn-a" data-rel="back">Yes</a>
					</div>
					<div class="ui-block-b">
						<a id="cancel2" class="ui-btn ui-corner-all ui-mini ui-btn-a" data-rel="back">Cancel</a>
					</div>
				</div>
			</div><!-- /popup -->
			<div data-role="footer" data-position="fixed">
				<div data-role="navbar" data-iconpos="left">
					<ul>												
						<li><a href="#coupon" data-icon="home">Coupons</a></li>
					</ul>
				</div><!-- /navbar -->
			</div>
		</div>
		
		<!--<div data-role="popup" id="popupAddDealer" data-theme="b" class="ui-corner-all">
			
			
			 <div style="padding:10px 20px;">
	            <h3>Please sign in</h3>
	            <label for="un" class="ui-hidden-accessible">Username:</label>
	            <input type="text" name="user" id="un" value="" placeholder="username" data-theme="a">
	            <label for="pw" class="ui-hidden-accessible">Password:</label>
	            <input type="password" name="pass" id="pw" value="" placeholder="password" data-theme="a">
	            <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Sign in</button>
	        </div>
			
			

				<!--<form id="deals">
					<div class="ui-grid-a" id="add_block">
						  <div class="ui-block-a">
							  	<label for="text-4"><b>Enter dealer id:</b></label>
								<input data-clear-btn="true" name="merchant_name2" id="merchant_name2" value="" type="text" data-rel="popup">
						  </div>
						  <div class="ui-block-b">
								<a href="#" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-btn-inline ui-icon-plus" data-inline="true" id="varify_merchant2" style="margin-top: 21px;">Add</a>
						  </div>
					</div>
				</form>
			
		</div>-->
		
	</body>
</html>
